body{
    background-color: black;
}

#head {
    background-color: black;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin: 10px;
    padding-top: 20px 10px 5px 20px;
  
  }
  
  #section {
    width: 350px;
    float: left;
    padding: 90px;
    padding-bottom: 0%;
  }

  p a{
    text-decoration: none; 
    color: #E7BFFF;
  }

  p a:hover{
    color: #c8b6ff;
    padding: "10px 20px 20px 10px";
  }

  li a:hover {
    color: #c8b6ff;
    padding: "10px 20px 20px 10px";
  }
  
  div a {
    text-decoration: none;
    color: #9eddff;
    font-size: 15px;
    padding: 15px;
    display: inline-block;
  }
  
  ul {
    display: inline;
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*position: fixed;
    top: 0;
    width: 100%;*/
  }
 
  li a.ex{
    color: #e7bfff;
  }

  a.ex1:hover,
  a.ex1:active {
    color: #FFD9FF;
  }
  
  button{
    /* font-family: inherit; */
    font-family: 'Raleway';
    font-weight: bolder;
    background-color: black;
    color: #9eddff;
    font-size: 22px;
    padding: 10px;
    display: inline-block;
  }

  button:hover{
    color: #e7bfff;
  }
  
  div a {
    /* font-family: 'Montserrat'; */
    font-family: 'Raleway';
    text-decoration: none ;
    background-color: black;  
    color: #9eddff;
    font-size: 22px;
    padding: 10px;
    display: inline-block;
  }
  
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
  }
  
  ul li:hover {
    background: black;
  }
  
  ul li:hover ul {
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  
  .dropdown {
    /* font-family: 'Montserrat'; */
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 22px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-family: 'Raleway';
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*header logo*/
  h1 {
    display: inline;
    font-family: 'Megrim';
    font-size: 20;
    font-weight: 100px;
    color:#9eddff;
    font-stretch: ultra-condensed;
    margin-left: 20px;
    margin-top: 150px;
    text-align: center;
    
  }
  /*quote text*/
  #quote {
    font-family: 'Waiting for the Sunrise';
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /*intro welcome text*/
  #welcome-section {
    font-family: 'Amatic SC';
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    margin-top: 250px;
    margin-left: -70px;
    color: #9eddff;
    text-align: center;
  }
  
  h4 {
    font-family: 'Loved by the King';
    font-size: 40px;
    text-align: left;
    color: #9eddff;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px solid;
    padding: 10px;
  }
  
  li {
    display: inline;
    padding: 20px;
  }
  /* nav bar begins here
  fixed to top as requirement of FCC userstory 
  boxed controls nav background*/
  .boxed {
    border-style: solid;
    border-color: black;
    border-width: 20px; 
    padding: 10px;
    /*position: fixed;
    top: 0;
    width: 100%;*/
  }
  
  /*controls nav type*/
  .spotted-box {
    text-align: center;
    align-content: space-around;
    border-style: solid;
    border-width: 2px; 
    background-color: black;
    /*position: fixed;
    top: 0;
    width: 100%;*/
  }
  /* nav bar ends here*/
  
  body {
     background-image: no-repeat center center fixed ;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size:cover;
    background-attachment: fixed;
  }
  
  /*id selector for About section*/
    .black-background {
    background-color: black;
    font-family: 'Amatic SC';
    font-size: 20px;
    font-weight: 100;
    color: #ffd9ff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    
  }
  
  /* image selector for black background graphics*/
    img {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 10%;
    padding: 0px;
  }

  .quote-section{
    background-color: #FFD9FF;
    padding:0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-width: .5px;
    
  }
  
  @media only screen and (max-width: 975px){
    #welcome-section { 
      color: #c8b6ff;
      font-size: 65px;
    }
    h1 {
      color:#c8b6ff;      
    }
  }

  @media (max-width:400px) {
    #welcome-section { 
      text-align: center;
      color: #c8b6ff;
      font-size: 40px;
    }
    h1 {
      color:#c8b6ff;  
    }
  }
  

 